<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Edytor Biura</title>
<style>
body{
	background-image: url('/images/cos.jpg');
  	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
}
td, th {
            border: 1px solid black;
            width: 300px;
}
table{
	background-color: white;
	border: 1px solid black;
    width: 300px;
}
</style>
</head>
<body>
	<div align="center">
		<!-- Page header -->
		<h1>Edytuj Biuro</h1>
		
		<br/>
		
		<form action = "#" th:action = "@{/biura/update}" th:object="${biuro}" method="post">
			
			<table border = "1" cellpadding = "10">
			
				<tr>
					<td>Nr_Adresu</td>
					<td><input type = "text" th:field = "*{nr_biura}" readonly = "readonly"></td>
				</tr>
				<tr>
					<td>Nazwa</td>
					<td><input type = "text" th:field = "*{nazwa}"></td>
				</tr>
				<tr>
					<td>Data zalozenia</td>
					<td><input type = "date" th:field = "*{data_zalozenia}"></td>
				</tr>
				<tr>
					<td>Nr_Adresu</td>
					<td><input type = "text" th:field = "*{nr_adresu}"></td>
				</tr>
				
				<tr>
					<td colspan = "2"><button type="submit">Zapisz</button></td>
				</tr>
			
			
			</table>
	
		</form>
		<br/><br/>
		<form>
			<input type="button" value="Wróć" onclick="history.back()">
		</form>
		<br/><br/>
		<button onclick="location.href='/';">Wróć na stronę główną</button>
	</div>

</body>
</html>