@charset "UTF-8";
body{
	background-image: url('/images/cos.jpg');
  	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: cover;
}
td, th {
			text-align: center;
			white-space: nowrap;
            border: 1px solid black;
            width: 300px;
}
table{
	background-color: white;
	border: 1px solid black;
    width: 300px;
}
.buttonRed {
  background-color: #f44336;
  color: white;
  text-align: center;
  cursor: pointer;
  padding: 8px 8px;
}
.buttonGr{
	background-color: #4CAF50;
}
.buttonBl{
	background-color: #008CBA;
}